body {
    background: white;
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
}

.login_area {
    width: 600px;
    height: 550px;
    margin: auto;
    margin-top: 100px;
    background: white;
    box-shadow: 0 0 10;
    text-align: center;
    transition: all 0.3s ease;
}

.login_area input label select option{
    float: left;
}

.login_area button {
    padding: 10px;
    width: 100px;
    background :rgb(31, 168, 192);
    text-transform: uppercase;
    cursor: pointer;
}

.login_area button:hover{
    background: rgb(88, 123, 240);
    color: black;
    border: 2px solid black;
}

.login_area a:hover{
    color: black;
}

.input-box{
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 5px;
}

.input-box input{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #000;
}
